.my_body {
	background: #F2F2F2;	
}
.tab_name{
	overflow: hidden;overflow-x: auto;padding-top:10px; height: 40px;min-width:120px;max-width:220px
}
.tab_name:hover{
	cursor:pointer;
	text-decoration:underline
}
.response_body{
	padding-left:15px;
	padding-bottom:5px;
	padding-top:5px;
	padding-right:15px
}
.heading{
	width:100%;
	height:45px;
	font-size:15pt;
	font-weight:bold;
	padding:10px;
	border-radius:1px;
}

label {color:#848484; font-weight:normal}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 10px 5px 10px 5px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	border-radius:4px
}
.edit_headline
{
    margin-top: 20px;
    padding: 10px 5px 10px 5px;
    width:90%;
    margin:0 auto;
}
.textarea_bg
{
    padding: 10px 5px 10px 5px;
    width:100%;
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
	-moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
	box-shadow: inset 2px 2px 2px 0px #dddddd;
	border-radius:2px;
	border: 1px solid #D8D8D8;
	background: transparent;
}

.div_bg
{
    padding: 5px 5px 5px 5px;
    background-color: #f7f7f7; 
    border-radius:5px
}
.attachment_bg
{
    padding: 2px 5px 2px 5px;
    background-color: #ffffff;
    border: 1px solid #D8D8D8;
    border-radius:0px
}
.select_img_bg
{
    padding: 10px;
    width:97.33%;
    margin: 0 auto;
    border-radius:3px;
    border: 1px solid #D8D8D8;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    background-color:#FFFFFF;
    color:#7D8080
}
.select_file_bg
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:97.33%;
    margin: 0 auto;
    border-radius:3px;
    border: 1px solid #D8D8D8;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    background-color:#FFFFFF;
    color:#7D8080
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 100px;
    height: 120px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	background-color: #ffffff;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.option
{
	cursor: pointer
}
/*
 * Base structure cdacaca
 */

/* Move down content because we have a fixed navbar that is 50px tall
 * 
 * background-color:#FAFAFA; */
body{
	background-color:#F7F8F9;
	font-family: Arial, Helvetica, sans-serif, calibri;
	font-size: 15px;padding-top:45px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.div_vertical_center_align{
	border: 1px solid #c3c3c3;
	height: 280px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}

.box {
    float: left;
    margin: 5px;
    width: 100%;
    overflow:hidden;
    overflow-y:auto;
    border-radius:1px;
    border: 0px solid #FFFFFF;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*background-color:#FFFFFF;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)*/
}
.preview_link{
	display: block;
    position: relative;
    width: 100%;
}
/*
a:hover + .preview_link,.preview_link:hover{
    display: block;
    position: relative;
    z-index: 100;
}*/
.column{
	float:left;
	max-width:45%;
	min-width:530px;
}
.article {
	float: left;
    margin: 10px;
	max-width:95%;
    min-width: 500px;
    height: auto !important;
    overflow:hidden;
    overflow-y:auto;
    padding:2px;
    border-radius:2px;
    border: 1px solid #D8D8D8;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color:#7D8080
}
.news_article {
	float: left;
    margin: 10px;
    max-width:95%;
    min-width: 500px;
    height: auto !important;
    overflow:hidden;
    overflow-y:auto;
    padding:5px;
    border-radius:2px;
    border: 1px solid #D8D8D8;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color:#7D8080
}
.news_article2 {
    float: left;
    margin: 0 auto;
    width: 98.33333333%;
    min-height:500px;
    padding:10px;
    border-radius:2px;
    border: 1px solid #D8D8D8;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    background-color:#FFFFFF;
    color:#7D8080
}
.div_layout {
    float: left;
    margin: 5px;
    width: 400px;
    padding:10px;
    border-radius:3px;
    border: 1px solid #D8D8D8;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    background-color:#F0F7F5;
    color:#A9ACAB
}
.headLine{
	color:#2E9AF5;
	background-color:#FFFFFF;
	font-weight:bold;
	font-size:14pt;
	width:100%; 
	padding-top:10px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:10px;
	border-radius:0px;
}
.footerLine{
	color:#f7f7f7;
	background-color:#04B431;
	width:100%; 
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	border-radius:3px;
	float:bottom
}
.inner_box{
	height:450px; overflow:hidden; width:100%;
	overflow-x:auto;overflow-y:auto;
}
.outer_box {
    float: left;
    margin: 5px;
    width: 80%;
    max-height: 550px;min-height:550px;overflow: hidden;overflow-y: auto;
	-webkit-align-content: center; align-content: center;
}
.city {
   float: left;
   margin: 10px;
   padding: 10px;
   width: 300px;
   height: 300px;
   border: 1px solid black;
}
.circular{
		width: 100px;
		height: 100px;
		border-radius: 150px;
		-webkit-border-radius: 150px;
		-moz-border-radius: 150px;
		box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.small_circular_image {
	width: 30px;
	height: 30px;
	border-radius: 150px;
}
.header_bg{
	height:60px;
	padding-top:15px;
	background-color:#FAFAFA;
	color:#FFFFFF;
	border: 0px solid #1BBAA9
}
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #28992D; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 21px; margin: 4.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fileUpload input.upload:hover {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    background:#f7f7f7;
    opacity: 0;
    filter: alpha(opacity=0);
}
.container{
	background-color:transparent;
}
.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:5px;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
a:hover {font-size:14px;cursor:pointer}
.tools{
	font-size:14px;
	cursor:pointer
}
.dropbtn {
    background-color: #ffffff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown_list {
    position: relative;
    display: inline-block;
}

.dropdown_list-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown_list-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_list-content a:hover {background-color: #f1f1f1}
/*
.dropdown:hover .dropdown-content {
    display: block;
}*/

.dropdown_list:hover {
    background-color: #3e8e41;
}
.show {display:block;}
/*
 * 
 <div class="dropdown" style="float:left;">
  <button class="dropbtn">Left</button>
  <div class="dropdown-content" style="left:0;">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>

<div class="dropdown" style="float:right;">
  <button class="dropbtn">Right</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
 * 
 * */

