
.uploadForm {
	border-top:#F0F0F0 2px solid;
	background:#FAF8F8;
	padding:10px;
	border-radius:2px
}
#uploadForm label {
	margin:2px; 
	font-size:1em;
	font-weight:bold;
}
.demoInputBox{
	padding:5px; 
	border:#F0F0F0 1px solid; 
	border-radius:0px; 
	background-color:#FFF;
}
.progress-bar {
	background-color: #1BAB22;
	height:20px;
	color: #FFFFFF;
	width:0%;
	-webkit-transition: width .3s;
	-moz-transition: width .3s;
	transition: width .3s;
}
.btnSubmit{
	background-color:#09f;
	width:100%;
	border:0;
	padding:5px;
	color:#FFF;
	border:#09f 1px solid;
	border-radius:0px;
}
.btnSubmit:hover{
	background-color:#68BBF7;
	width:100%;
	border:0;
	padding:5px;
	color:#FFF;
	border:#09f 1px solid;
	text-decoration:none;
	border-radius:0px;
}
.btnSubmit:active{
	background-color:#7BEA0B;
	width:100%;
	border:0;
	padding:5px;
	color:#FFF;
	border:#09f 1px solid;
	border-radius:0px;
}
.progress-div {
	border:#1BAB22 1px solid;
	margin:30px 0px;
	border-radius:4px;
	text-align:center;
}
#targetLayer{
	width:100%;
	text-align:center;
}
.tab_disp_div{
	max-height:350px;
	min-height:350px; 
	min-width:200px;
	overflow:hidden;
	background-color:#FFFFFF;
	border:#f7f7f7 2px solid;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow-x:auto;overflow-y:auto;
	border-radius:1px
}
